
/* .box{
    background-color: blue;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 10px;
} */

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    background-color: brown;
    
}

.container li {
    padding: 30px;
    text-align: center;
    display: inline-block;
    font-size: large;
}