h1{
  background-color: darkred;
  color: white;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
   background-color: violet;
}


#p1 {
  text-align: center;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
  height: 200px;
  width: 50%;
  outline-style: dotted;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-family: fantasy;

}

#img1{
  opacity: 0.3;
  float: right;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
#d1 {
  width: 50px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  
}
a:link {
  color: red;
}

a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

table, th, td {
  border: 1px solid;
}
div.ex1 {
  width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
  position: relative;
}

div.ex2 {
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
   position: absolute;
   overflow: scroll;
}

